p.borda{
    border-style: solid;
    border-color:crimson;
    border-width: 2px;
}

p.margem{
    margin: 100px;
    border-style: dashed;
}

p.propriedade{
    margin: 25px;
    border-style: dotted;
    padding: 20px;
}

p.contorno{
    outline-style:double;
    outline-color: red;
    margin: 40px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}

.img{
    width: 30%;
    height: auto;

   
}

.center{
    text-align:center;
}